# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Eclipse files
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.local/
.settings/
.loadpath
.project
.classpath

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# Gradle files
.gradle/
build/
!gradle-wrapper.jar

# Maven files
target/

# Others
.DS_Store
Thumbs.db

